<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container">
    <%= link_to "Rails React Todo App", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
     <ul class="nav navbar-nav my-2 my-lg-0"> 
              <% if user_signed_in? %>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= current_user.email  %></a>
                        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                          <%= link_to "View My Todos", authenticated_root_path, class:"dropdown-item" %>
                        </ul>
              </li>
                  <%= link_to "Sign Out", destroy_user_session_path,method: :delete, class: "nav-link "%> 
              <% else %>
                  <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"%>
                  <%= link_to "Sign In", new_user_session_path, class: "nav-link "%>
              <% end %>
        </ul>
    </div>
  </div>
</nav>
